InspectionApproval/xsd/GetInspectionData_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/GetInspectionData" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/GetInspectionData" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxInspectionDataCollection" type="XxInspectionDataCollection"/>
   <xs:complexType name="XxInspectionDataCollection">
      <xs:sequence>
         <xs:element name="XxInspectionData" type="XxInspectionData" minOccurs="0" maxOccurs="unbounded"/>
         <xs:element name="Approver" type="xs:string"/>
         <xs:element name="userid" type="xs:string"/>
         <xs:element name="test" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxInspectionData">
      <xs:sequence>
         <xs:element name="grnno" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="organizationName" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="orgId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="org" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="attribute3" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="userName" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="100"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="emailAddress" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="transactionId" type="xs:decimal"/>
         <xs:element name="shipmentHeaderId" type="xs:decimal"/>
         <xs:element name="dcNo" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="dcDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="igpNo" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="igpDate" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="noOfCartons" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="builtyNo" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="packingSlip" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="waybillAirbillNum" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="30"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="grnDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="poNum" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="20"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vehNo" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="vendorSiteCode" minOccurs="0">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="15"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="creationDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="description" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="uom" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="25"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="carrier" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="itemCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="163"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="descr" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="40"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="itmid" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="orgid" type="xs:decimal" minOccurs="0"/>
         <xs:element name="quantityreceived" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="primaryUomCode" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="deptline" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="gatepassNo" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="poHeaderId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="remarks" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="4000"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="poLineId" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="suppliername" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="dept" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="150"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="comments" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="shipmentLineId" type="xs:decimal"/>
         <xs:element name="department" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="240"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="setOfBooksId" type="xs:long" minOccurs="0"/>
         <xs:element name="noteToReceiver" minOccurs="0" nillable="true">
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="GetInspectionDataSelect_shidInputParameters" type="GetInspectionDataSelect_shid"/>
   <xs:complexType name="GetInspectionDataSelect_shid">
      <xs:sequence>
         <xs:element name="shid" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>