InspectionApproval/InvokeInspectionApproval.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="InvokeInspectionApproval"
     targetNamespace="http://oracle.com/sca/soapservice/InspectionApprovalWorkflow/InspectionApproval/InvokeInspectionApproval"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:inp1="http://xmlns.oracle.com/singleString"
     xmlns:tns="http://oracle.com/sca/soapservice/InspectionApprovalWorkflow/InspectionApproval/InvokeInspectionApproval"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://xmlns.oracle.com/singleString" schemaLocation="xsd/singleString.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="callbackMessage">
        <wsdl:part name="outcome" element="inp1:singleString"/>
    </wsdl:message>
    <wsdl:message name="requestMessage">
        <wsdl:part name="shid" element="inp1:singleString"/>
    </wsdl:message>
    <wsdl:portType name="callback_ptt">
        <wsdl:operation name="callback">
            <wsdl:input message="tns:callbackMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="execute">
            <wsdl:input message="tns:requestMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
